<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.linuxtools.tmf.core.analysis">
		<module
			id="org.eclipse.tracecompass.l4trace.state.system.module"
			name="IPC Analysis"
			analysis_module="org.eclipse.tracecompass.l4trace.ipc.IpcAnalysisModule"
			automatic="true">
			<tracetype
				   class="org.eclipse.tracecompass.tmf.core.trace.TmfTrace">
			 </tracetype>
		</module>
  <output
        class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput">
     <analysisId
           id="org.eclipse.tracecompass.l4trace.state.system.module">
     </analysisId>
  </output>
	</extension>
 <extension
       point="org.eclipse.tracecompass.tmf.core.dataprovider">
    <dataProviderFactory
          class="org.eclipse.tracecompass.l4trace.ipc.IpcTimeGraphProviderFactory"
          id="org.eclipse.dataprovider.timegraph.ipc">
    </dataProviderFactory>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          class="org.eclipse.tracecompass.l4trace.ipc.IpcTimeGraphView"
          id="org.eclipse.tracecompass.l4trace.timegraph.view"
          name="IPC View"
          restorable="true">
    </view>
 </extension>
</plugin>
